@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
.Navbarmarvel {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
  background-color: #ffffff;
}
.inside{
  position: fixed;
  height: 100vh;
  width: 24%;
  background-color: #151515;
}
@media (max-width:900px) {
.Navbarmarvel{
  width: 70%;
  align-items: center;
}
}
.inside{
  position: fixed;
  background-color: #151515;
  height: 100vh;
  padding: 2em 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textnav {
  width: 100%;
  font-family: "urbanist";
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  color: #f2f2f2;
  letter-spacing: 0.2px;
  font-size: 2em;
  font-family: 300;
  margin-bottom: 5em;
}
@media (max-width:900px) {
  .textnav{
    position:initial;
    width: 100%;
  }
  .inside{
    position: fixed;
    top: 0;
    background-color: #151515;
    height: 100px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}
.Bold {
  font-weight: 700;
  padding-right: 0.2em;
}

.Icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 999;
  margin-right: -2.5em;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.buscar {
  width: 514px;
  height: 56px;
  border: 0px;
  padding: 0 50px !important;
  background-color: #ffff;
  color: #000;
  font-family: "Comic Neue";
  border-radius: 4px;
}
.submitmarvel {
  border: 0px;
  width: 119px;
  height: 56px;
  border-radius: 0px;
  background-color: #ce0404;
  color: #f2f2f2;
  font-weight: 700;
  font-family: "Comic Neue";
  border-radius: 4px;
}

@media (max-width: 900px) {
  .Navbarmarvel {
    display: block;
  }
  .textnav {
    padding-bottom: 1em;
    justify-content: center;
    font-size: 1.5em;
  }
}


.containersearch {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100px;
}
@media screen  and (max-width:900px){
  .containersearch{
    top: 0;
    left: 0;
    right: 0;
  }
  }

.search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search:hover {
  cursor: pointer;
}
.search:before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.search:after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;

  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);

  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
input:hover {
  cursor: pointer;
}
input:focus {
  width: 200px;
  opacity: 1;
  cursor: text;
}
input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
input:focus ~ .search input:before {
  top: 0;
  left: 0;
  width: 25px;
}
input:focus ~ .search input:after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}